// %header_fix {} 
%full_size {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

%flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%full_size_fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
// Для корректного размещения изображеения в блоке
%img_fit {
    @extend %full_size;
    object-fit: cover;
}

%no_active_elem {
    user-select: none;
    opacity: 0.5;
    background: #CCC;
}
%hiddenElem{
    visibility: hidden;
    position: absolute;
}


