// общие
$background-main: #fafafa;
$font_family_default: Roboto;
$font_color_default: #252b42;
$font_size_default: 16px;
$maxWidthContainer: 1024px;
$link_color: #252b42;
$header_color: grey;
// меню
$m_color: white;
$m_color_hover: rgb(52, 57, 9);
// меню бургер
$burger_media: 767px;
$burger_background: rgb(164, 164, 164);
$burger_width_icon: 30px;
$burger_height_icon: 20px;
// выпадающее меню
$background_sub: rgb(164, 164, 164);
// список блоков-карточек
$background-card: #fff;

$map-affiliate: #F5F6FB;
$map-location: #8C90A4;
$map-blue: #36187D;
$map-bright-blue: #35B8FC;